<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @picture.content %></p>
  <div class="image">
    <p>imege</p>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  </div>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :current_user %>
  <%= form.submit "投稿する" %>
<% end %>
<%= form_with(model:@picture, url:pictures_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
