<h1>投稿一覧</h1>
<p><%= notice %></p>
<div class="contents">
<table>
  <tr>
    <th>内容</th>
    <th>ユーザー</th>
  </tr>
<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.content %></td>
    <td><%= image_tag picture.image.url %></td>
    <td><%= picture.user.name %></td>
    <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
    <% if current_user.id == picture.user.id %>
    <td><%= link_to "投稿を編集する", edit_picture_path(picture.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿を削除する', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
<%= link_to '新しくブログを投稿する', new_picture_path %>
